<header class="uk-background-primary fondo">
  <section class="uk-container uk-container-large">
    <div class="">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <h2 class="logo">FootBlog</h2>
        </div>
        <div class="uk-navbar-center">
          <ul class="uk-flex uk-flex-between uk-flex-middle">
            <li><a href="/users/register">Registro</a></li>
            <li><a href="/users/login">Login</a></li>
          </ul>
        </div>

    </div>
  </section>
</header>