<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="uk-section uk-section-small">
        <div
          class="
            uk-container
            uk-container-large
            uk-flex
            uk-flex-middle
            uk-flex-center
          "
          style="height: 655px;"
        >
          <form action="" style="background-color: white;"">
            <div class="row g-3">
              <div class="col" style="margin: 20px;">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  aria-label="First name"
                />
              </div>
              <div class="col" style="margin: 20px;">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  aria-label="Last name"
                />
              </div>
            </div>
            <br />
            <div class="mb-3" style="margin: 20px;">
              <label for="formGroupExampleInput" class="form-label"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Username"
              />
            </div>
            <div class="mb-3" style="margin: 20px;">
              <label for="formGroupExampleInput" class="form-label"
                >Nationality</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Nationality"
              />
            </div>
            <div class="mb-3" style="margin: 20px;">
              <label for="formGroupExampleInput2" class="form-label"
                >Team</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Team"
              />
            </div>
            <div class="row g-3" style="margin: 20px;">
              <div class="col" style="margin: 20px;">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Weight (kg)"
                  aria-label="First name"
                />
              </div>
              <div class="col" style="margin: 20px;">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Height (cm)"
                  aria-label="Last name"
                />
              </div>
            </div>
            <br />
            <select class="form-select" aria-label="Default select example" style="margin: 20px;">
              <option selected>Open this select menu</option>
              <option value="1">Forward</option>
              <option value="2">Midfielder</option>
              <option value="3">Defender</option>
              <option value="4">Goalkeeper</option>
            </select>
          </form>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
