<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/headerLogueado') %>

  <body>
    <header class="uk-background-primary">
      <section class="uk-container uk-container-large">
        <div class="">
          <nav class="" uk-navbar>
            <div class="uk-navbar-left">
              <h2 class="logo"><a href="index.html">FootBlog</a></h2>
            </div>
            <div class="uk-navbar-center">
              <ul class="uk-flex uk-flex-between uk-flex-middle">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Logout</a></li>
              </ul>
            </div>
            <div class="uk-navbar-right">
              <a href="agregarPost.html">Agregar post</a>
              <a href="miPerfil.html">Mi perfil</a>
              <form action="" class="uk-search uk-search-default">
                <span uk-search-icon></span>
                <input
                  type="search"
                  class="uk-search-input"
                  placeholder="Buscar..."
                />
              </form>
            </div>
          </nav>
        </div>
      </section>
    </header>

    <main>
      <div class="uk-section uk-section-small">
        <div
          class="
            uk-container
            uk-container-large
            uk-flex
            uk-flex-middle
            uk-flex-center
          "
        >
        <form action="">
          <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          <br>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nationality</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nationality">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Team</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Team">
          </div>
          <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Weight (kg)" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Height (cm)" aria-label="Last name">
            </div>
          </div>
          <br>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Forward</option>
            <option value="2">Midfielder</option>
            <option value="3">Defender</option>
            <option value="4">Goalkeeper</option>
          </select>
        </form>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
