<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="uk-section uk-section-small">
        <div
          class="
            uk-container
            uk-container-large
            uk-flex
            uk-flex-middle
            uk-flex-center
          "
          style="height: 655px"
        >
          <form style="background-color: white" method="POST">
            <div class="mb-3" style="margin: 20px">
              <% if (locals.error) { %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
              <label for="username" class="form-label">Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>
            <div class="mb-3" style="margin: 20px">
              <label for="exampleInputPassword1" class="form-label"
                >Contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="mb-3 form-check" style="margin: 20px">
              <input
                type="checkbox"
                class="form-check-input"
                id="recordarme"
                name="recordarme"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Recordarme</label
              >
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 20px">
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
