<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/headerDeslogueado') %>

    <main>
      <div class="uk-section uk-section-small">
        <div
          class="
            uk-container
            uk-container-large
            uk-flex
            uk-flex-middle
            uk-flex-center
          "
          style="height: 655px"
        >
          <form style="background-color: white">
            <div class="mb-3" style="margin: 20px">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text" style="margin: 20px">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3" style="margin: 20px">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check" style="margin: 20px">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 20px">
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
