<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <div class="uk-section uk-section-small">
      <div class="
            uk-container
            uk-container-large
            uk-flex
            uk-flex-middle
            uk-flex-center
          " style="height: 655px">
        <form action="/users/register" style="background-color: white" method="POST" enctype="multipart/form-data">
          <div class="row g-3" style="margin: 20px">
            <% if (locals.errors) { %>
              <% errors.forEach(error => {%>
                <div class="alert alert-danger" role="alert">
                  <%= error %>
                </div>
                <% })%>
            <% } %>
            <div class="col" style="margin: 20px">
              <label for="name">First Name</label>
              <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstName"
                id="firstName" required />
            </div>
            <div class="col" style="margin: 20px">
              <label for="name">Last Name</label>
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="surname"
                id="surname" required />
            </div>
          </div>
          <br />
          <div class="mb-3" style="margin: 20px">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username" name="username"
              id="username" required />
          </div>
          <div class="mb-3" style="margin: 20px">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Email" name="email"
              id="email" required />
          </div>
          <div class="mb-3" style="margin: 20px">
            <label for="formGroupExampleInput" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="birthDate" name="birthDate"
              id="birthDate" required />
          </div>
          <label for="formGroupExampleInput" class="form-label" id="password" name="password">Password</label>
          <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Password" name="password"
            id="password" required />
          <label for="image">Imagen de perfil</label>
          <input type="file" name="profile_picture" id="profile_picture"/>
          <input type="submit" style="margin: 20px" />
      </div>

      </form>
    </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>